
.nav-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20.5px;
}

.nav-item {
  width: 25%;
  margin-bottom: 20.5px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #999;
  font-size: 12px;
}

.nav-img {
  width: 46.933333%;
  margin-bottom: 5.5px;
}