.backtop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(39, 195, 147, 0.8);
}

.backtop-container .iconfont {
 color: #fff; 
 font-size: 30px;
}

.hidden {
  display: none;
}